.App {
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bgImg{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 60%;
  width: 100%;
  z-index: -1;
  object-fit: cover !important;
}